alpha/draft/assets/vue-ui.xsd

<?xml version="1.0" encoding="UTF-8" ?>
<schema targetNamespace="urn:vue-ui" elementFormDefault="qualified"
  attributeFormDefault="unqualified"
  xmlns="http://www.w3.org/2001/XMLSchema"
  xmlns:vu="urn:vue-ui">

    <element name="mycomp" type="vu:mycompType"></element>
    <element name="number-input" type="vu:numberInputType"></element>

    <complexType name="mycompType"></complexType>
    <complexType name="numberInputType">
      <attribute name="v-model" type="string" use="optional"></attribute>
      <attribute name="min" type="string" use="optional"></attribute>
      <attribute name="max" type="string" use="optional"></attribute>
    </complexType>
</schema>
